body {
	padding-top: 4.5rem;
}


h2 {
	font-size: 24px;
	font-weight: 800;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
}

section {
	padding-bottom: 63px;
}

footer {
	background-color: rgba(241,241,241,0.8);
}

.btn-danger {
	border-radius: 8px;
	margin-right: 70px;
}

.navbar-default {
	border-bottom: solid 1px rgba(191,190,191,0.8);
	padding-bottom: 0;
}

.active {
	display: inline-block;
	border-bottom: solid 1px rgb(0,255,10);
}

.jumbotron {
	margin: 0 auto;
	max-width: 1600px;
	height: 518px;
	background-image: url("https://a0.muscache.com/4ea/air/v2/pictures/9d08d356-59b9-4ac4-9f41-5b9c13c2b211.jpg?t=r:w1440-h960-sfit,e:fwebp-c75");
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 33px;
	width: 100%;
}

.third-step {
	text-align: center;
}

.hosting {
	padding-top: 67px;
}

.contents {
	padding-bottom: 115px;
}


.third-step h1 {
	font-size: 60px;
	font-weight: 900;
	padding-top: 25px;
	padding-bottom: 65px;
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
}

.third-step h1:before {
	content: '';
	position: absolute;
	left: 50%;
	top: -15px;/*線の上下位置*/
	display: inline-block;
	width: 60px;/*線の長さ*/
	height: 5px;/*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);/*位置調整*/
	background-color: black;/*線の色*/
	border-radius: 2px;/*線の丸み*/
	border-style: double;
}

.top-hosting h2 {
	margin-bottom: 24px;
}

.top-hosting-one {
	margin-right: 90px;
	padding: 0;
}

.review {
	margin-top: 160px;
}

.review-text {
	margin-right: 70px;
}

.review-text h2 {
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
}

.review-text p {
	font-size: 16px;
}

.host-example {
	align-items: center;
}

.btn-outline-dark {
	box-shadow: 0 0 0 0.1rem rgba(12, 11, 13, 0.95);
}

.footer-one {
	border-bottom: solid 1px gray;
}

.footer-logo {
	display: flex;
}

.footer-list {
	display: flex;
}
